html {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

*,
*::after,
*::before,
body,
form,
p {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color:aqua;
  font-weight: 700;
}

h1 {
  margin-bottom: 1em;
  font-size: var(--font-size__title);
}

p {
  margin-top: 0.5em;
  font-size: var(--font-size__paragraph);
  padding: 0 1em;
}

h3 {
  margin-top: 1em;
  font-size: var(--font-size__subtitle);
  padding-bottom: 0.5em;
}

:root {
  --font-size__title: 4.5em;
  --font-size__subtitle: 2.5em;
  --font-size__paragraph: 1.2em;
  --font-size__question:3em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
  background-image: url("cova2.jpeg");
  opacity:0.9;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.main-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4); 
  z-index: 1;
  border: 3px solid rgb(255, 255, 255);
}

.title {
  width: 50%;
  height: 50%;
}

.question{
  font-size: var(--font-size__question);
}